#### To Display and find the size of all data types in python

In [29]:
import sys

a=sys.getsizeof(12)
print(a, "size of int")

b=sys.getsizeof("vinita")
print(b, "size of str")

c=sys.getsizeof(('v','i','n','i','t','a'))
print(c, "size of tuple")

d=sys.getsizeof(['v','i','n','i','t','a'])
print(d, "size of list")

e=sys.getsizeof({1,2,3,4})
print(e, "size of set")

f=sys.getsizeof({1:'a',2:'b',3:'c',4:'d'})
print(f, "size of dict")

28 size of int
55 size of str
88 size of tuple
104 size of list
216 size of set
232 size of dict

#### To work with different operators including lazy operators.

In [39]:
# Arithmetic operators
x = 2
y = 5
print(x+y) #Addition
print(x-y) #Subtraction
print(x*y) #Multiplication
print(x/y) #Division

7
-3
10
0.4

In [41]:
# Assignment operators
i = 2
i -= 9
print(i)

-7

In [42]:
l = 9
l *= 10
print(l)

90

In [45]:
s = 5
s %= 3
print(s)

2

In [58]:
#Comparison Operators
c = 12
k = 10
print("Equal: ",c==k)
print("Not Equal: ",c != k)
print("Less than: ",c<k)
print("Greater than: ",c>k)

Equal:  False
Not Equal:  True
Less than:  False
Greater than:  True

#### Logical Operators

In [59]:
x = 5
print(x > 2 and x < 6)

# output True because 5 is greater than 2 AND 5 is less than 6

True

In [61]:
x = 5

print(x > 3 or x < 4)

# output True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [63]:
x = 5

print(not(x > 3 and x < 10))

# output False because not is used to reverse the result

False

#### lazy operators

In [69]:
for i in range(1, 11):  #using range
    print(i)

1
2
3
4
5
6
7
8
9
10

In [75]:
# using Zip function
a = ("Apple", "Mango")
b = ("Orange", "Kiwi")

x = zip(a, b)
#use the tuple() function to display
print(tuple(x))

(('Apple', 'Orange'), ('Mango', 'Kiwi'))

In [77]:
# Using Open function
f = open("Demo.txt", "r")
print(f.read())

Hello,
I'm vinita suthar

In [83]:
length = list(map(len, ["hello", "", "goodbye", "wonderful", "I love Python"])) # using Map function we can find out length of string in list

In [81]:
length

[5, 0, 7, 9, 13]

In [85]:

# List of strings
l = ["hello","","goodbye","wonderful","I love Python"]
test = list(map(list, l))
print(test)      # map() can listify the list of strings individually

[['h', 'e', 'l', 'l', 'o'], [], ['g', 'o', 'o', 'd', 'b', 'y', 'e'], ['w', 'o', 'n', 'd', 'e', 'r', 'f', 'u', 'l'], ['I', ' ', 'l', 'o', 'v', 'e', ' ', 'P', 'y', 't', 'h', 'o', 'n']]